.App {
  text-align: center;
  background-color: #212530;
}
.background{
  background-color: #212530;
}
.background-img{
  background: url(https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80) top center no-repeat;
  height: auto;
  width: 100%;
}
section.hero-message {
  margin-bottom: 15%;
}
.about-message {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin:20px;
}
.header {
  font-size: calc(12px + 1vmin);
  color: white;
}
.home-hero{
  height: 350px;
  display:flex;
}
.hero-message{
  display: block;
  margin:auto;
  margin-top: 15%;
  text-transform: capitalize;
  text-align:center;
  font-weight: bold;
  color: #ffffff;
}
.Topnav {
  display:inline-block;
  margin-left: 30%;
  width: 40%;
  line-height: 5;
  vertical-align: top;
}
.Topnav-logo{
  padding:35px 50px;
}
.Topnav-list{
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin: 0;
}
.Topnav-list-item{
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
.App-link {
  color: #09d3ac;
}
.underline {
  text-decoration: underline;
  font-weight: bold;
}
.underline:hover{
  color: blue;
}
.bm-menu-wrap {
  background-color: #1d252f;

}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  background-color: none;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #516179;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #1d252f;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}


/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;

}
.bm-item:hover {
  color:#6b727e;
  text-decoration: none;
}
.bm-item:focus {
  outline:none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.resume_bkgd {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom:20px;
}
.port-square {
  width: 25%;
  background-color: #212530;
  display: inline-block;
  margin: 4% !important;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;

}
.flex-container{
  display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.footer {
  text-align: center;
  height:150px;
  background: rgba(33,37,48,0);
background: -moz-linear-gradient(top, rgba(33,37,48,0) 0%, rgba(33,37,48,0.63) 19%, rgba(33,37,48,0.94) 35%, rgba(33,37,48,0.97) 43%, rgba(33,37,48,1) 54%, rgba(33,37,48,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,37,48,0)), color-stop(19%, rgba(33,37,48,0.63)), color-stop(35%, rgba(33,37,48,0.94)), color-stop(43%, rgba(33,37,48,0.97)), color-stop(54%, rgba(33,37,48,1)), color-stop(100%, rgba(33,37,48,1)));
background: -webkit-linear-gradient(top, rgba(33,37,48,0) 0%, rgba(33,37,48,0.63) 19%, rgba(33,37,48,0.94) 35%, rgba(33,37,48,0.97) 43%, rgba(33,37,48,1) 54%, rgba(33,37,48,1) 100%);
background: -o-linear-gradient(top, rgba(33,37,48,0) 0%, rgba(33,37,48,0.63) 19%, rgba(33,37,48,0.94) 35%, rgba(33,37,48,0.97) 43%, rgba(33,37,48,1) 54%, rgba(33,37,48,1) 100%);
background: -ms-linear-gradient(top, rgba(33,37,48,0) 0%, rgba(33,37,48,0.63) 19%, rgba(33,37,48,0.94) 35%, rgba(33,37,48,0.97) 43%, rgba(33,37,48,1) 54%, rgba(33,37,48,1) 100%);
background: linear-gradient(to bottom, rgba(33,37,48,0) 0%, rgba(33,37,48,0.63) 19%, rgba(33,37,48,0.94) 35%, rgba(33,37,48,0.97) 43%, rgba(33,37,48,1) 54%, rgba(33,37,48,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212530', endColorstr='#212530', GradientType=0 );

}
.social {
  padding:20px;
  width:50px;
}
.social:hover{
  opacity: 0.65;
}
